@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using PShop
@inject IHtmlLocalizer<SharedResource> Localizer
@{

	//CultureInfo.CurrentCulture = new CultureInfo("en-US"); CultureInfo.CurrentUICulture = new CultureInfo("en-US");
}
@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
	{
		Layout = (string)parentLayout;
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}


<div class="card" style="background-color:#ffffff">
	<div class="card-header">
		<h2>@Localizer["Manage your account"]</h2>
		<h4>@Localizer["Change your account settings"]</h4>
	</div>

	<hr />
	<div class="row">
		<div class="col-md-3">
			<partial name="_ManageNav" />
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
	<br />
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
