@model List<Item>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="container  ">

                        <h5><a asp-action="Details" asp-route-id="@item.Id" class="text-left">@item.Name)</a></h5>

                        <div class="row">
                            <partial name="OneItemShopCart" model="item" />
                        </div>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>